.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: darkgrey;
  background-position: center;  
}

.jumbotron h1,
.jumbotron .h1 {
  color: #FFFFFF;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
  color:#FFFFFF;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 1.428571429;
  color: #333;
  background-color: #fff;
}



.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top:20px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 2px;
  border: 1px solid transparent;
}

.carousel-caption h1 {
	font-size:60px;
}

.carousel-caption p {
	font-size:20px;
}

.slide1 {
	background-image: url('http://cmster.com/media/WeS36R9BXgrmdaKNJDQWmxsy8d26ncopNOwo1RBCI4QZG28JqZcDOEBhvc4cYDX4.jpg');
	height:500px;
	background-repeat: no-repeat;
	background-position: center; 
}

.slide2 {
	background-color: darkred;
	height:500px;
	background-repeat: no-repeat;
	background-position: center; 
}

.slide3 {
	background-color: darkred;
	height:500px;
	background-repeat: no-repeat;
	background-position: center; 
}

.carousel .item {
  height: 500px;
  background-color: #333333;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}